{% extends "base.html" %}

{% block content %}<center>
	<h1 style="color:rgb(255, 0, 0)">Register</h1>
    <p>Already a member? <a href="{{ url_for('login') }}">Click to login!</a></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repeat.label }}<br>
            {{ form.repeat(size=32) }}<br>
            {% for error in form.repeat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</center>
    
{% endblock %}