{% extends "base.html" %}

{% block content %}

	<h1 class="text-center text-primary display-4">Register</h1>
    <p class="text-center">Already a member? <a href="{{ url_for('login') }}">Click to login!</a></p>


    <form action="" method="post" novalidate>
        

        <div class="form-group text-center">
            <span class="row justify-content-center">
              <div class="form-floating mb-3 col-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="emailform">
                <label for="floatingInput">Email address</label>
              </div>
            </span>
        
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="password">
                <label for="floatingInput">Password</label>
              </div>
              
              <div class="form-floating mb-3 row-4">
                <input type="password" class="form-control" id="floatingInput" placeholder="Repeat Password" name="repeat">
                <label for="floatingInput">Repeat Password</label>
              </div>

        <button type="submit" class="btn btn-primary">
            Create Account
        </button>
        </div>

    </form>
    
{% endblock %}