{% extends "base.html" %}

{% block content %}

	<h1 class="text-center text-primary display-4">Register</h1>
    <p class="text-center">Already a member? <a href="{{ url_for('login') }}">Click to login!</a></p>


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        

        <div class="form-group text-center">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>

            {{ form.repeat.label }}<br>
            {{ form.repeat(size=32) }}<br>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        </div>

    </form>
    
{% endblock %}