{% extends 'base.html' %}

{% block content %}

<span class="text-center"> 
<h1 class="text-primary display-4 py-5">My Account</h1>

<h5>Your Listings</h5>
{% for listing in listings %}
<a href="/listings/{{listing.id}}"><p>{{listing.title}}</p></a>
{% endfor %}

<h3 class = "text-primary display-4">Create Listing</h3>
<form action="" method='POST' enctype="multipart/form-data" novalidate>

    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}
        {{ form.title(size=32) }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}
        {{ form.description(size=32) }}
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}
        {{ form.price(size=32) }}
        {% for error in form.price.errors %}
        <span style="color:red;"> [{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <input type="file" name="pic"/>
    </p>
    <p>
        {{ form.submit }}
    </p>
</form>
</span>

{% endblock %}